projects/WormPicker
projects/RRaster
projects/gap_filling/MartinData/data/*.af.gz
projects/LandscapeGenomicsPipeline/data/PoolSeq2023.vcf.gz
projects/LandscapeGenomicsPipeline/testNSAT
projects/LandscapeGenomicsPipeline/results/2R
projects/LandscapeGenomicsPipeline/results/3L
projects/LandscapeGenomicsPipeline/data/metadata_advanced.csv
projects/LandscapeGenomicsPipeline/results
.env
projects/LandscapeGenomicsPipeline/Europe50k_newSNPs
projects/LandscapeGenomicsPipeline/Europe50k
projects/LandscapeGenomicsPipeline/Europe50k_1/results/fullgenome/BAYPASS
projects/LandscapeGenomicsPipeline/Europe50k_1/results/fullgenome/GM/*.pdf
projects/LandscapeGenomicsPipeline/NSATvsBIO1_NorthAmerica50k
projects/LandscapeGenomicsPipeline/Europe50k_1/results/fullgenome/LEA/qsub*.sh
projects/LandscapeGenomicsPipeline/data/*.vcf*
projects/uc3-drosophola-genetics/projects/PlotRaster/wc2-5
projects/gap_filling/makeWindows/data/Europe_genomewide_weight.csv.gz
projects/LandscapeGenomicsPipeline/FullData2
projects/LandscapeGenomicsPipeline/Europe50k_1/results/fullgenome
projects/LandscapeGenomicsPipeline/S3/Vienna100m
projects/LandscapeGenomicsPipeline/S3/s3.en4
projects/LandscapeGenomicsPipeline/S3/config.ini